.suzhou-river-timeline-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background: #00000098;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
}

.suzhou-river-timeline-container .suzhou-river-timeline-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  text-align: center;
  line-height: 40px;
  background-color: rgb(36, 36, 36);
  color: #fff;
}

.suzhou-river-timeline-container .suzhou-river-timeline {
  flex: 1;
  height: 100%;
  padding-left: 50px;
}

.suzhou-river-timeline-container .suzhou-river-timeline .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #ffffff;
  background-color: #00b96b;
}

.suzhou-river-timeline-container .suzhou-river-timeline .ant-slider-mark-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
