* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: auto;
}

.ant-notification {
  height: 100%;
}

.ant-notification .ant-notification-notice-wrapper {
  max-height: 100%;
  overflow: auto;
  margin-bottom: 0px;
}

.ant-notification .ant-notification-notice-wrapper::after {
  display: none;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice {
  max-height: 100%;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-close {
  top: 20px;
}

.canvas-container {
  position: relative;
  height: 100%;
  overflow: auto;
}

.canvas-container .canvas-container-body {
  position: relative;
  height: 100%;
}

.canvas-container .canvas-container-body-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px 20px;
  width: 200px;
  background: rgba(83, 83, 83, 0.42);
  border-radius: 5px;
  overflow: auto;
  max-height: 400px;
  min-height: 100px;
}

/* 修改滚动条 */
.canvas-container .canvas-container-body-controls::-webkit-scrollbar {
  width: 2px;
}

/* 修改滚动条 颜色 */
.canvas-container .canvas-container-body-controls::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

#slider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  cursor: ew-resize;
  z-index: 999;
}

.is-shulie {
  width: 15px;
  text-align: center;
  background: transparent;
  font-size: 9px;
  font-weight: 600;
  color: white;
  font-family: 'Microsoft YaHei', 'Helvetica Neue For Number', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Hiragino Sans GB',
    'PingFang SC', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  position: absolute;
  display: block;
  box-sizing: border-box;
  pointer-events: none;
}

.is-shulie-item {
  writing-mode: vertical-lr;
  font-size: 16px;
  letter-spacing: 4px;
}

.pre-topCard-list-item-line {
  display: block;
  height: 100px;
  width: 1px;
  margin-left: calc(50% + 2px);
  margin-top: 3px;
  background-color: #fff;
}

.pre-topCard-list-item-circle {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: -10px;
}

.point-sample-label-container {
  min-width: 96px;
  min-height: 35px;
  background: linear-gradient(0deg, #1e202a 0%, #0d1013 100%);
  position: absolute;
  left: 0px;
  bottom: 0px;
  cursor: default;
  border-radius: 4px;
  opacity: 0.96;
  border: 1px solid #14171c;
  box-shadow: 0px 2px 21px 0px rgba(33, 34, 39, 0.55);
  border-radius: 4px;
  box-sizing: border-box;
}

.point-sample-label-container::before {
  content: '';
  width: calc(100% + 22px);
  height: 39px;
  position: absolute;
  bottom: -39px;
  left: -22px;
  background: url(@/assets/normal-sample-label-bg.png) 0px 0px no-repeat;
  background-position: 0px 0px;
}

.point-sample-label-container-position::before {
  background: url(@/assets/position-sample-label-bg.png) 0px 0px no-repeat;
}

.point-sample-label-container-story::before {
  background: url(@/assets/story-sample-label-bg.png) 0px 0px no-repeat;
}

.point-sample-label-container-subsection::before {
  background: url(@/assets/subsection-sample-label-bg.png) 0px 0px no-repeat;
}

.point-sample-label-container .point-sample-label-text {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1px 10px;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #ffffff;
  line-height: 33px;
  border: 1px solid #ffffff4f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.point-sample-label-container .point-sample-label-text .point-sample-label-icon-position,
.point-sample-label-container .point-sample-label-text .point-sample-label-icon-story,
.point-sample-label-container .point-sample-label-text .point-sample-label-icon-subsection {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.point-sample-label-container .point-sample-label-text .point-sample-label-icon-story {
  background: url(@/assets/story-sample-label-icon-story.png) 0px 0px no-repeat;
}

.point-sample-label-container .point-sample-label-text .point-sample-label-icon-position {
  background: url(@/assets/story-sample-label-icon-position.png) 0px 0px no-repeat;
}

.point-sample-label-container .point-sample-label-text .point-sample-label-icon-subsection {
  background: url(@/assets/story-sample-label-icon-subsection.png) 0px 0px no-repeat;
}

.point-sample-label-container .point-sample-label-text-click {
  cursor: pointer;
  text-decoration: underline;
}

.point-sample-label-container .point-sample-label-text:hover {
  color: #fff;
}

.point-sample-label-container-story .point-sample-label-text:hover {
  color: #eda914;
}

.point-sample-label-container-position .point-sample-label-text:hover {
  color: #00ffcc;
}

.point-sample-label-container-subsection .point-sample-label-text:hover {
  color: #ff00e4;
}

.point-sample-label-container .point-sample-label-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -8px;
  top: -8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACe0lEQVR4AVxTTUtbURA97z6FNLFWwVBL3fgF3bpw0/6CEgMu/SQU3bixGhQliChqdjUNbrMp2QRCkdLQZNcs2p27YDYaDGjVGhCjSTANyeuZlw+jjzv3njszZ+7MnfsUnnwHQOslMEPZvwCuRM6B/T/U/QRanrhDNSvo6H4N/DOAAGVUHxiw6/39dg0YpWPgDVBi4IVmDvXVLU/6oQGfVFcXnu/soNswYD86gv342MRtW1tQnZ1gYB99v1dZqGbwF3BT8f7Z5CTsp6eweTzcPh5ta2uwn53BMjYmhpFz4KMAxYitldrJ7YEANIsFiURCbI8kmUzi4PAQL+ijOjqgAZ/J1RRPd4mnbXHRJOfzeczNzSEWi4nalFQqhfHxcRNrNhusbkkY4H24FE8fEUs9bRsdQqEQlpeXzSBCnpiYgNfrxfDwsLii7aFEh2Iqb/XBQdNQn3p6ehCNRuH3+zE1NYWVlRU4HI66GdB16L29UsY7ZWp54+baNBWLRZRKJVh4J1artclSg+QYhJLBrzJbRdwYkrabdbpcLgSDwUY5DYdyGeV0Wra/JYOIoBx7L6vI0tISnE4npqenUS9ndXUV8XhczMhtb5srp4h6CXwhQGF3F0ahIBAeXtLs7KyJZZIgkUgEQ0NDMO7ukPf5RI1X5EoJZQ1YrFxfIzszA4NtrN+26VWbJEi7UlWfbBbkzItJSkA3HwU3kXu2L8MO5PhswTqpqw7i3OYmrmi7D4eF/I2cPTGaAQQwHSejLlRubpBbX8dlSwsyfX3IsF2CcxsbMG5vwXczT/KocEQaAWRDg5+iE3+gfK2cnFyU02n+OwjT0cVDNP6te7Q1xn8AAAD//yRCfnYAAAAGSURBVAMAWqDdbyIxHlMAAAAASUVORK5CYII=)
    0px 0px no-repeat;
  font-size: 18px;
  text-align: center;
  line-height: 16px;
}
