* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: auto;
}

.canvas-container {
  position: relative;
  height: 100%;
  overflow: auto;
}

.canvas-container .canvas-container-body {
  position: relative;
  height: 100%;
}

.canvas-container .canvas-container-body-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px 20px;
  width: 200px;
  background: rgba(83, 83, 83, 0.42);
  border-radius: 5px;
  overflow: auto;
  max-height: 400px;
  min-height: 100px;
}

/* 修改滚动条 */
.canvas-container .canvas-container-body-controls::-webkit-scrollbar {
  width: 2px;
}

/* 修改滚动条 颜色 */
.canvas-container .canvas-container-body-controls::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

#slider {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  cursor: ew-resize;
  z-index: 999;
}
