.map-diy-tools-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 40px;
  padding-right: 16px;
}

.map-diy-tools-container .map-diy-tools-item {
  position: relative;
  height: 26px;
  width: 26px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  margin-right: 8px;
}

.map-diy-tools-container .map-diy-tools-item .map-diy-tools-item-tipsClycle {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00b96b;
  border: 1px solid #fff;
  cursor: pointer;
}
