.map-diy-tools-container {
  position: absolute;
  left: 50%;
  bottom: 8%;
  z-index: 2;
  height: 40px;
  transform: translateX(-50%);
  width: 100%;

  .map-diy-tools-container-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 6px 0px 16px;
    border-radius: 8px;

    .map-diy-tools-item-wrapper {
      margin-right: 10px;
      margin-bottom: 10px;
      .map-diy-tools-item {
        position: relative;
        height: 26px;
        width: 26px;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #fff;
        line-height: 26px;
        text-align: center;
        cursor: pointer;

        .map-upload-tool-wrapper {
          display: inline-block;
          height: 100%;
          width: 100%;
        }

        .map-diy-tools-item-badge {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #00b96b;
          border: 2px solid #fff;
          cursor: pointer;
          line-height: 12px;
          font-size: 10px;
          color: #fff;
          text-align: center;
        }

        .map-diy-tools-item-badge-more {
          width: 22px;
          height: 14px;
          border-radius: 35%;
        }
      }
    }
  }
}

.map-upload-tool-drawer {
  .upload-geojson-list-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .upload-geojson-item {
      display: flex;
      flex-direction: column;
      background-color: #414141;
      width: 350px;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 8px;
      margin-right: 8px;
      .upload-geojson-item-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        max-width: 100%;
        background-color: #363636;
        .upload-geojson-item-name {
          display: flex;
          align-items: center;
          width: calc(100% - 80px);

          .upload-geojson-item-text {
            margin-left: 8px;
          }
          .upload-geojson-item-type {
          }
        }

        .upload-geojson-item-action {
          > span {
            cursor: pointer;
            margin: 0 4px;
          }
        }
      }
      .upload-geojson-item-content {
        padding: 12px;
      }
    }
  }
}
